In [73]:
import pandas as pd

In [79]:
pd.read_csv("covid-hospitalizations.csv")

,entity,iso_code,date,indicator,value
0,Algeria,DZA,2020-07-17,Daily ICU occupancy,62.000
1,Algeria,DZA,2020-07-17,Daily ICU occupancy per million,1.381
2,Algeria,DZA,2020-07-18,Daily ICU occupancy,67.000
3,Algeria,DZA,2020-07-18,Daily ICU occupancy per million,1.492
4,Algeria,DZA,2020-07-20,Daily ICU occupancy,64.000
...,...,...,...,...,...
230519,Wales,OWID_WLS,2023-07-12,Daily ICU occupancy per million,1.577
230520,Wales,OWID_WLS,2023-07-12,Daily hospital occupancy,142.000
230521,Wales,OWID_WLS,2023-07-12,Daily hospital occupancy per million,44.795
230522,Wales,OWID_WLS,2023-07-12,Weekly new hospital admissions,5.000
230523,Wales,OWID_WLS,2023-07-12,Weekly new hospital admissions per million,1.577

In [19]:
#1. check types and nulls
pd.read_csv("covid-hospitalizations.csv").info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230524 entries, 0 to 230523
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   entity     230524 non-null  object
 1   iso_code   230524 non-null  object
 2   date       230524 non-null  object
 3   indicator  230524 non-null  object
 4   value      230524 non-null  float64
dtypes: float64(1), object(4)
memory usage: 8.8+ MB

In [80]:
# 2.remove duplicates nd check
df =pd.read_csv("covid-hospitalizations.csv")
df
df[df.duplicated()]

Empty DataFrame
Columns: [entity, iso_code, date, indicator, value]
Index: []

In [81]:
#3. change type of date to datetime and set date as index
df=pd.read_csv("covid-hospitalizations.csv")
df['date'] = pd.to_datetime(df['date'],format="%Y-%m-%d")


# another way
df=pd.read_csv("covid-hospitalizations.csv",parse_dates=['date'])
df.info()

#### date as index
df = df.set_index('date')
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230524 entries, 0 to 230523
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   entity     230524 non-null  object
 1   iso_code   230524 non-null  object
 2   date       230524 non-null  datetime64[ns]
 3   indicator  230524 non-null  object
 4   value      230524 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 8.8+ MB

,entity,iso_code,indicator,value
date,,,,
2020-07-17,Algeria,DZA,Daily ICU occupancy,62.000
2020-07-17,Algeria,DZA,Daily ICU occupancy per million,1.381
2020-07-18,Algeria,DZA,Daily ICU occupancy,67.000
2020-07-18,Algeria,DZA,Daily ICU occupancy per million,1.492
2020-07-20,Algeria,DZA,Daily ICU occupancy,64.000
...,...,...,...,...
2023-07-12,Wales,OWID_WLS,Daily ICU occupancy per million,1.577
2023-07-12,Wales,OWID_WLS,Daily hospital occupancy,142.000
2023-07-12,Wales,OWID_WLS,Daily hospital occupancy per million,44.795
2023-07-12,Wales,OWID_WLS,Weekly new hospital admissions,5.000
2023-07-12,Wales,OWID_WLS,Weekly new hospital admissions per million,1.577

In [85]:
# 4. column's case convertion
df.columns = df.columns.str.title()
df

,Entity,Iso_Code,Indicator,Value
Date,,,,
2020-01-06,Latvia,LVA,Weekly new hospital admissions per million,0.000
2020-01-06,Latvia,LVA,Weekly new ICU admissions per million,0.000
2020-01-06,Latvia,LVA,Weekly new ICU admissions,0.000
2020-01-06,Greece,GRC,Weekly new ICU admissions,0.000
2020-01-06,Greece,GRC,Weekly new ICU admissions per million,0.000
...,...,...,...,...
2024-08-11,Czechia,CZE,Daily hospital occupancy per million,3.145
2024-08-12,Czechia,CZE,Daily ICU occupancy,4.000
2024-08-12,Czechia,CZE,Daily hospital occupancy,46.000
2024-08-12,Czechia,CZE,Daily hospital occupancy per million,4.383
2024-08-12,Czechia,CZE,Daily ICU occupancy per million,0.381

In [86]:
# 5. set index's case
df.index.name = "Date"
df

,Entity,Iso_Code,Indicator,Value
Date,,,,
2020-01-06,Latvia,LVA,Weekly new hospital admissions per million,0.000
2020-01-06,Latvia,LVA,Weekly new ICU admissions per million,0.000
2020-01-06,Latvia,LVA,Weekly new ICU admissions,0.000
2020-01-06,Greece,GRC,Weekly new ICU admissions,0.000
2020-01-06,Greece,GRC,Weekly new ICU admissions per million,0.000
...,...,...,...,...
2024-08-11,Czechia,CZE,Daily hospital occupancy per million,3.145
2024-08-12,Czechia,CZE,Daily ICU occupancy,4.000
2024-08-12,Czechia,CZE,Daily hospital occupancy,46.000
2024-08-12,Czechia,CZE,Daily hospital occupancy per million,4.383
2024-08-12,Czechia,CZE,Daily ICU occupancy per million,0.381

In [87]:
#6. sort data by date
df = df.sort_index()
df

# same as 
df = df.sort_values(by='Date')
df

,Entity,Iso_Code,Indicator,Value
Date,,,,
2020-01-06,Latvia,LVA,Weekly new hospital admissions per million,0.000
2020-01-06,Latvia,LVA,Weekly new ICU admissions per million,0.000
2020-01-06,Latvia,LVA,Weekly new ICU admissions,0.000
2020-01-06,Greece,GRC,Weekly new ICU admissions,0.000
2020-01-06,Greece,GRC,Weekly new ICU admissions per million,0.000
...,...,...,...,...
2024-08-11,Czechia,CZE,Daily hospital occupancy per million,3.145
2024-08-12,Czechia,CZE,Daily hospital occupancy per million,4.383
2024-08-12,Czechia,CZE,Daily ICU occupancy,4.000
2024-08-12,Czechia,CZE,Daily hospital occupancy,46.000
2024-08-12,Czechia,CZE,Daily ICU occupancy per million,0.381

In [69]:
# # .check for no duplicates
# df.duplicated().sum()

# # same as with to confirm uniqueness by specific columns:
# df.reset_index().duplicated(subset=['Date', 'Entity', 'Indicator']).sum()

np.int64(0)

In [89]:
# 7.re-load into excel
# firstly import openpyxl module in environment of anaconda navigator
import openpyxl
# to excel
df.to_excel("hospitalcovid_cleaned.xlsx", index=True)
# (OR)

# to csv
df.to_csv("hospitalcovid_cleaned.csv", index=True)