In [24]:
import pandas as pd

In [25]:
pd.read_csv("district_level_latest.csv")

,SlNo,State_Code,State,District_Key,District,Confirmed,Active,Recovered,Deceased,Migrated_Other,Delta_Confirmed,Delta_Active,Delta_Recovered,Delta_Deceased,District_Notes,Last_Updated
0,0,UN,State Unassigned,UN_Unassigned,Unassigned,0,0,0,0,0,0,0,0,0,NaN,NaN
1,1,AN,Andaman and Nicobar Islands,AN_Nicobars,Nicobars,0,0,0,0,0,0,0,0,0,District-wise numbers are out-dated as cumulat...,NaN
2,2,AN,Andaman and Nicobar Islands,AN_North and Middle Andaman,North and Middle Andaman,1,0,1,0,0,0,0,0,0,District-wise numbers are out-dated as cumulat...,NaN
3,3,AN,Andaman and Nicobar Islands,AN_South Andaman,South Andaman,51,19,32,0,0,0,0,0,0,District-wise numbers are out-dated as cumulat...,NaN
4,0,AP,Andhra Pradesh,AP_Foreign Evacuees,Foreign Evacuees,434,0,434,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,760,TG,Telangana,TG_Unknown,Unknown,457,-51654,51552,559,0,0,0,0,0,NaN,NaN
796,761,TR,Tripura,TR_Unknown,Unknown,0,0,0,0,0,0,0,0,0,NaN,NaN
797,762,UP,Uttar Pradesh,UP_Unknown,Unknown,0,0,0,0,0,0,0,0,0,NaN,NaN
798,763,UT,Uttarakhand,UT_Unknown,Unknown,0,0,0,0,0,0,0,0,0,NaN,NaN
799,764,WB,West Bengal,WB_Unknown,Unknown,0,0,0,0,0,0,0,0,0,NaN,NaN

In [26]:
#1. check types and nulls
pd.read_csv("district_level_latest.csv").info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SlNo             800 non-null    int64
 1   State_Code       800 non-null    object
 2   State            800 non-null    object
 3   District_Key     800 non-null    object
 4   District         800 non-null    object
 5   Confirmed        800 non-null    int64
 6   Active           800 non-null    int64
 7   Recovered        800 non-null    int64
 8   Deceased         800 non-null    int64
 9   Migrated_Other   800 non-null    int64
 10  Delta_Confirmed  800 non-null    int64
 11  Delta_Active     800 non-null    int64
 12  Delta_Recovered  800 non-null    int64
 13  Delta_Deceased   800 non-null    int64
 14  District_Notes   60 non-null     object
 15  Last_Updated     0 non-null      float64
dtypes: float64(1), int64(10), object(5)
memory usage: 100.1+ KB

In [27]:
# 2.remove unwanted columns
df = pd.read_csv("district_level_latest.csv")
df = df.drop(columns = ['District_Notes','Last_Updated','Migrated_Other','SlNo'])
df

,State_Code,State,District_Key,District,Confirmed,Active,Recovered,Deceased,Delta_Confirmed,Delta_Active,Delta_Recovered,Delta_Deceased
0,UN,State Unassigned,UN_Unassigned,Unassigned,0,0,0,0,0,0,0,0
1,AN,Andaman and Nicobar Islands,AN_Nicobars,Nicobars,0,0,0,0,0,0,0,0
2,AN,Andaman and Nicobar Islands,AN_North and Middle Andaman,North and Middle Andaman,1,0,1,0,0,0,0,0
3,AN,Andaman and Nicobar Islands,AN_South Andaman,South Andaman,51,19,32,0,0,0,0,0
4,AP,Andhra Pradesh,AP_Foreign Evacuees,Foreign Evacuees,434,0,434,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
795,TG,Telangana,TG_Unknown,Unknown,457,-51654,51552,559,0,0,0,0
796,TR,Tripura,TR_Unknown,Unknown,0,0,0,0,0,0,0,0
797,UP,Uttar Pradesh,UP_Unknown,Unknown,0,0,0,0,0,0,0,0
798,UT,Uttarakhand,UT_Unknown,Unknown,0,0,0,0,0,0,0,0
799,WB,West Bengal,WB_Unknown,Unknown,0,0,0,0,0,0,0,0

In [28]:
#3. check count of unique

df.nunique()

State_Code          37
State               37
District_Key       800
District           743
Confirmed          634
Active             497
Recovered          559
Deceased           131
Delta_Confirmed    204
Delta_Active       209
Delta_Recovered    161
Delta_Deceased      23
dtype: int64

In [21]:
# 4.checking duplicates
df = pd.read_csv("district_level_latest.csv")
df[df.duplicated()]

Empty DataFrame
Columns: [SlNo, State_Code, State, District_Key, District, Confirmed, Active, Recovered, Deceased, Migrated_Other, Delta_Confirmed, Delta_Active, Delta_Recovered, Delta_Deceased, District_Notes, Last_Updated]
Index: []

In [29]:
#5. setting index
df = df.set_index('District_Key')
df

,State_Code,State,District,Confirmed,Active,Recovered,Deceased,Delta_Confirmed,Delta_Active,Delta_Recovered,Delta_Deceased
District_Key,,,,,,,,,,,
UN_Unassigned,UN,State Unassigned,Unassigned,0,0,0,0,0,0,0,0
AN_Nicobars,AN,Andaman and Nicobar Islands,Nicobars,0,0,0,0,0,0,0,0
AN_North and Middle Andaman,AN,Andaman and Nicobar Islands,North and Middle Andaman,1,0,1,0,0,0,0,0
AN_South Andaman,AN,Andaman and Nicobar Islands,South Andaman,51,19,32,0,0,0,0,0
AP_Foreign Evacuees,AP,Andhra Pradesh,Foreign Evacuees,434,0,434,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
TG_Unknown,TG,Telangana,Unknown,457,-51654,51552,559,0,0,0,0
TR_Unknown,TR,Tripura,Unknown,0,0,0,0,0,0,0,0
UP_Unknown,UP,Uttar Pradesh,Unknown,0,0,0,0,0,0,0,0
UT_Unknown,UT,Uttarakhand,Unknown,0,0,0,0,0,0,0,0
WB_Unknown,WB,West Bengal,Unknown,0,0,0,0,0,0,0,0

In [32]:
# 6. sort values
df = df.sort_index()
df

# # same as 
df = df.sort_values(by='District_Key')
df

,State_Code,State,District,Confirmed,Active,Recovered,Deceased,Delta_Confirmed,Delta_Active,Delta_Recovered,Delta_Deceased
District_Key,,,,,,,,,,,
AN_Nicobars,AN,Andaman and Nicobar Islands,Nicobars,0,0,0,0,0,0,0,0
AN_North and Middle Andaman,AN,Andaman and Nicobar Islands,North and Middle Andaman,1,0,1,0,0,0,0,0
AN_South Andaman,AN,Andaman and Nicobar Islands,South Andaman,51,19,32,0,0,0,0,0
AN_Unknown,AN,Andaman and Nicobar Islands,Unknown,1071,733,322,16,0,0,0,0
AP_Anantapur,AP,Andhra Pradesh,Anantapur,21173,6768,14263,142,1112,-494,1596,10
...,...,...,...,...,...,...,...,...,...,...,...
WB_Purba Medinipur,WB,West Bengal,Purba Medinipur,2124,755,1353,16,187,151,35,1
WB_Purulia,WB,West Bengal,Purulia,301,88,213,0,6,-13,19,0
WB_South 24 Parganas,WB,West Bengal,South 24 Parganas,6254,1541,4605,108,261,134,123,4
WB_Unknown,WB,West Bengal,Unknown,0,0,0,0,0,0,0,0
WB_Uttar Dinajpur,WB,West Bengal,Uttar Dinajpur,1277,178,1086,13,20,-31,49,2

In [39]:
# # .check for no duplicates
df.duplicated().sum()

df.isnull()

,State_Code,State,District,Confirmed,Active,Recovered,Deceased,Delta_Confirmed,Delta_Active,Delta_Recovered,Delta_Deceased
District_Key,,,,,,,,,,,
AN_Nicobars,False,False,False,False,False,False,False,False,False,False,False
AN_North and Middle Andaman,False,False,False,False,False,False,False,False,False,False,False
AN_South Andaman,False,False,False,False,False,False,False,False,False,False,False
AN_Unknown,False,False,False,False,False,False,False,False,False,False,False
AP_Anantapur,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
WB_Purba Medinipur,False,False,False,False,False,False,False,False,False,False,False
WB_Purulia,False,False,False,False,False,False,False,False,False,False,False
WB_South 24 Parganas,False,False,False,False,False,False,False,False,False,False,False
WB_Unknown,False,False,False,False,False,False,False,False,False,False,False
WB_Uttar Dinajpur,False,False,False,False,False,False,False,False,False,False,False

In [41]:
# 7.re-load into excel
# firstly import openpyxl module in environment of anaconda navigator
import openpyxl
# to excel
df.to_excel("district_level_cleaned.xlsx", index=True)

# to csv
df.to_csv("district_level_cleaned.csv", index=True)