In [52]:
import pandas as pd

In [53]:
pd.read_csv("state_level_latest.csv")

,State,Confirmed,Recovered,Deaths,Active,Last_Updated_Time,Migrated_Other,State_code,Delta_Confirmed,Delta_Recovered,Delta_Deaths,State_Notes
0,Total,2025409,1377384,41638,605933,06/08/2020 23:46:37,454,TT,0,0,0,NaN
1,Maharashtra,479779,316375,16792,146305,06/08/2020 20:42:51,307,MH,0,0,0,307 cases are marked as non-covid deaths in MH...
2,Tamil Nadu,279144,221087,4571,53486,06/08/2020 19:44:47,0,TN,0,0,0,[July 22]: 444 backdated deceased entries adde...
3,Delhi,141531,127124,4059,10348,06/08/2020 18:39:45,0,DL,0,0,0,[July 14]: Value for the total tests conducted...
4,Karnataka,158254,80281,2897,75067,06/08/2020 21:19:51,9,KA,0,0,0,NaN
5,Andhra Pradesh,196789,112870,1753,82166,06/08/2020 19:45:03,0,AP,0,0,0,Total includes patients from other states and ...
6,Uttar Pradesh,108974,63402,1918,43654,06/08/2020 17:53:49,0,UP,0,0,0,NaN
7,Gujarat,67811,50524,2579,14708,06/08/2020 21:28:40,0,GJ,0,0,0,NaN
8,West Bengal,86754,61023,1902,23829,06/08/2020 21:28:42,0,WB,0,0,0,NaN
9,Telangana,73050,52103,589,20358,06/08/2020 11:26:06,0,TG,0,0,0,[July 27]\nTelangana bulletin for the previous...
10,Rajasthan,48996,35131,757,13108,06/08/2020 21:54:44,0,RJ,0,0,0,NaN
11,Bihar,68148,43820,388,23939,06/08/2020 17:29:43,1,BR,0,0,0,NaN
12,Haryana,39303,32640,458,6205,06/08/2020 20:29:05,0,HR,0,0,0,[Aug 2]: 21 Foreign Evacuees have been merged ...
13,Assam,52818,37225,126,15464,06/08/2020 23:00:49,3,AS,0,0,0,Includes 1 case from Nagaland
14,Madhya Pradesh,36564,26902,946,8716,06/08/2020 19:55:50,0,MP,0,0,0,NaN
15,Odisha,40717,26888,280,13549,06/08/2020 20:44:03,0,OR,0,0,0,[July 12th] 20 non-covid deaths reported in st...
16,Jammu and Kashmir,23454,15708,436,7310,06/08/2020 18:19:43,0,JK,0,0,0,NaN
17,Kerala,30449,18333,98,11983,06/08/2020 20:08:58,35,KL,0,0,0,Mahe native who expired in Kannur included in ...
18,Punjab,20891,13659,517,6715,06/08/2020 21:19:59,0,PB,0,0,0,NaN
19,Jharkhand,15756,6594,145,9017,06/08/2020 23:00:52,0,JH,0,0,0,NaN
20,Chhattisgarh,11020,8088,77,2855,06/08/2020 23:00:55,0,CT,0,0,0,NaN
21,Uttarakhand,8623,5427,102,3056,06/08/2020 23:46:40,38,UT,0,0,0,NaN
22,Goa,7614,5453,66,2095,06/08/2020 19:39:50,0,GA,0,0,0,NaN
23,Tripura,5740,3793,31,1898,06/08/2020 11:43:39,18,TR,0,0,0,[Aug 4]\nTripura bulletin for the previous day...
24,Puducherry,4621,2808,70,1743,06/08/2020 18:11:03,0,PY,0,0,0,NaN
25,Manipur,3217,1905,8,1304,06/08/2020 19:18:40,0,MN,0,0,0,NaN
26,Himachal Pradesh,3047,1865,13,1141,06/08/2020 22:26:45,28,HP,0,0,0,HP has 29 Migrated cases which are reduced fro...
27,Ladakh,1595,1177,7,411,06/08/2020 20:38:59,0,LA,0,0,0,NaN
28,Nagaland,2580,819,6,1752,06/08/2020 18:39:49,3,NL,0,0,0,NaN
29,Arunachal Pradesh,1948,1245,3,700,06/08/2020 23:17:40,0,AR,0,0,0,[July 25]: All numbers corresponding to Papum ...
30,Chandigarh,1327,777,20,529,06/08/2020 18:11:05,1,CH,0,0,0,NaN
31,Dadra and Nagar Haveli and Daman and Diu,1415,997,2,406,06/08/2020 20:07:54,10,DN,0,0,0,NaN
32,Meghalaya,990,345,5,640,06/08/2020 20:09:02,0,ML,0,0,0,[June 17]:\nOne case was identified to be fals...
33,Sikkim,829,353,1,475,06/08/2020 23:01:46,0,SK,0,0,0,NaN
34,Mizoram,538,288,0,249,06/08/2020 17:29:49,1,MZ,0,0,0,"""Other"" case in MZ is a patient who 'migrated-..."
35,Andaman and Nicobar Islands,1123,355,16,752,06/08/2020 20:45:08,0,AN,0,0,0,NaN
36,State Unassigned,0,0,0,0,19/07/2020 09:40:01,0,UN,0,0,0,MoHFW website reports that these are the 'case...
37,Lakshadweep,0,0,0,0,26/03/2020 07:19:29,0,LD,0,0,0,NaN

In [54]:
#1. check types and nulls
pd.read_csv("state_level_latest.csv").info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              38 non-null     object
 1   Confirmed          38 non-null     int64
 2   Recovered          38 non-null     int64
 3   Deaths             38 non-null     int64
 4   Active             38 non-null     int64
 5   Last_Updated_Time  38 non-null     object
 6   Migrated_Other     38 non-null     int64
 7   State_code         38 non-null     object
 8   Delta_Confirmed    38 non-null     int64
 9   Delta_Recovered    38 non-null     int64
 10  Delta_Deaths       38 non-null     int64
 11  State_Notes        15 non-null     object
dtypes: int64(8), object(4)
memory usage: 3.7+ KB

In [55]:
# 2.remove duplicates nd check
df = pd.read_csv("state_level_latest.csv")
df

df[df.duplicated()]

Empty DataFrame
Columns: [State, Confirmed, Recovered, Deaths, Active, Last_Updated_Time, Migrated_Other, State_code, Delta_Confirmed, Delta_Recovered, Delta_Deaths, State_Notes]
Index: []

In [56]:
#3. change type of date to datetime
df = pd.read_csv("state_level_latest.csv")
df['Last_Updated_Time'] = pd.to_datetime(df['Last_Updated_Time'],format='mixed')


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              38 non-null     object
 1   Confirmed          38 non-null     int64
 2   Recovered          38 non-null     int64
 3   Deaths             38 non-null     int64
 4   Active             38 non-null     int64
 5   Last_Updated_Time  38 non-null     datetime64[ns]
 6   Migrated_Other     38 non-null     int64
 7   State_code         38 non-null     object
 8   Delta_Confirmed    38 non-null     int64
 9   Delta_Recovered    38 non-null     int64
 10  Delta_Deaths       38 non-null     int64
 11  State_Notes        15 non-null     object
dtypes: datetime64[ns](1), int64(8), object(3)
memory usage: 3.7+ KB

In [57]:
# 4.remove unwanted columns
df = pd.read_csv("state_level_latest.csv")
df = df.drop(columns=['Migrated_Other','State_Notes','Delta_Confirmed','Delta_Recovered','Delta_Deaths'])
df

,State,Confirmed,Recovered,Deaths,Active,Last_Updated_Time,State_code
0,Total,2025409,1377384,41638,605933,06/08/2020 23:46:37,TT
1,Maharashtra,479779,316375,16792,146305,06/08/2020 20:42:51,MH
2,Tamil Nadu,279144,221087,4571,53486,06/08/2020 19:44:47,TN
3,Delhi,141531,127124,4059,10348,06/08/2020 18:39:45,DL
4,Karnataka,158254,80281,2897,75067,06/08/2020 21:19:51,KA
5,Andhra Pradesh,196789,112870,1753,82166,06/08/2020 19:45:03,AP
6,Uttar Pradesh,108974,63402,1918,43654,06/08/2020 17:53:49,UP
7,Gujarat,67811,50524,2579,14708,06/08/2020 21:28:40,GJ
8,West Bengal,86754,61023,1902,23829,06/08/2020 21:28:42,WB
9,Telangana,73050,52103,589,20358,06/08/2020 11:26:06,TG
10,Rajasthan,48996,35131,757,13108,06/08/2020 21:54:44,RJ
11,Bihar,68148,43820,388,23939,06/08/2020 17:29:43,BR
12,Haryana,39303,32640,458,6205,06/08/2020 20:29:05,HR
13,Assam,52818,37225,126,15464,06/08/2020 23:00:49,AS
14,Madhya Pradesh,36564,26902,946,8716,06/08/2020 19:55:50,MP
15,Odisha,40717,26888,280,13549,06/08/2020 20:44:03,OR
16,Jammu and Kashmir,23454,15708,436,7310,06/08/2020 18:19:43,JK
17,Kerala,30449,18333,98,11983,06/08/2020 20:08:58,KL
18,Punjab,20891,13659,517,6715,06/08/2020 21:19:59,PB
19,Jharkhand,15756,6594,145,9017,06/08/2020 23:00:52,JH
20,Chhattisgarh,11020,8088,77,2855,06/08/2020 23:00:55,CT
21,Uttarakhand,8623,5427,102,3056,06/08/2020 23:46:40,UT
22,Goa,7614,5453,66,2095,06/08/2020 19:39:50,GA
23,Tripura,5740,3793,31,1898,06/08/2020 11:43:39,TR
24,Puducherry,4621,2808,70,1743,06/08/2020 18:11:03,PY
25,Manipur,3217,1905,8,1304,06/08/2020 19:18:40,MN
26,Himachal Pradesh,3047,1865,13,1141,06/08/2020 22:26:45,HP
27,Ladakh,1595,1177,7,411,06/08/2020 20:38:59,LA
28,Nagaland,2580,819,6,1752,06/08/2020 18:39:49,NL
29,Arunachal Pradesh,1948,1245,3,700,06/08/2020 23:17:40,AR
30,Chandigarh,1327,777,20,529,06/08/2020 18:11:05,CH
31,Dadra and Nagar Haveli and Daman and Diu,1415,997,2,406,06/08/2020 20:07:54,DN
32,Meghalaya,990,345,5,640,06/08/2020 20:09:02,ML
33,Sikkim,829,353,1,475,06/08/2020 23:01:46,SK
34,Mizoram,538,288,0,249,06/08/2020 17:29:49,MZ
35,Andaman and Nicobar Islands,1123,355,16,752,06/08/2020 20:45:08,AN
36,State Unassigned,0,0,0,0,19/07/2020 09:40:01,UN
37,Lakshadweep,0,0,0,0,26/03/2020 07:19:29,LD

In [58]:
# 5.check no of uniquess
df.nunique()

State                38
Confirmed            37
Recovered            37
Deaths               36
Active               37
Last_Updated_Time    38
State_code           38
dtype: int64

In [61]:
# 6.keep "total' row at last
# Separate the 'Total' row
total_row = df[df['State'] == 'Total']
other_rows = df[df['State'] != 'Total']

# Concatenate the other rows with the total row at the end
df= pd.concat([other_rows, total_row])

df

,State,Confirmed,Recovered,Deaths,Active,Last_Updated_Time
State_code,,,,,,
MH,Maharashtra,479779,316375,16792,146305,06/08/2020 20:42:51
TN,Tamil Nadu,279144,221087,4571,53486,06/08/2020 19:44:47
DL,Delhi,141531,127124,4059,10348,06/08/2020 18:39:45
KA,Karnataka,158254,80281,2897,75067,06/08/2020 21:19:51
AP,Andhra Pradesh,196789,112870,1753,82166,06/08/2020 19:45:03
UP,Uttar Pradesh,108974,63402,1918,43654,06/08/2020 17:53:49
GJ,Gujarat,67811,50524,2579,14708,06/08/2020 21:28:40
WB,West Bengal,86754,61023,1902,23829,06/08/2020 21:28:42
TG,Telangana,73050,52103,589,20358,06/08/2020 11:26:06
RJ,Rajasthan,48996,35131,757,13108,06/08/2020 21:54:44
BR,Bihar,68148,43820,388,23939,06/08/2020 17:29:43
HR,Haryana,39303,32640,458,6205,06/08/2020 20:29:05
AS,Assam,52818,37225,126,15464,06/08/2020 23:00:49
MP,Madhya Pradesh,36564,26902,946,8716,06/08/2020 19:55:50
OR,Odisha,40717,26888,280,13549,06/08/2020 20:44:03
JK,Jammu and Kashmir,23454,15708,436,7310,06/08/2020 18:19:43
KL,Kerala,30449,18333,98,11983,06/08/2020 20:08:58
PB,Punjab,20891,13659,517,6715,06/08/2020 21:19:59
JH,Jharkhand,15756,6594,145,9017,06/08/2020 23:00:52
CT,Chhattisgarh,11020,8088,77,2855,06/08/2020 23:00:55
UT,Uttarakhand,8623,5427,102,3056,06/08/2020 23:46:40
GA,Goa,7614,5453,66,2095,06/08/2020 19:39:50
TR,Tripura,5740,3793,31,1898,06/08/2020 11:43:39
PY,Puducherry,4621,2808,70,1743,06/08/2020 18:11:03
MN,Manipur,3217,1905,8,1304,06/08/2020 19:18:40
HP,Himachal Pradesh,3047,1865,13,1141,06/08/2020 22:26:45
LA,Ladakh,1595,1177,7,411,06/08/2020 20:38:59
NL,Nagaland,2580,819,6,1752,06/08/2020 18:39:49
AR,Arunachal Pradesh,1948,1245,3,700,06/08/2020 23:17:40
CH,Chandigarh,1327,777,20,529,06/08/2020 18:11:05
DN,Dadra and Nagar Haveli and Daman and Diu,1415,997,2,406,06/08/2020 20:07:54
ML,Meghalaya,990,345,5,640,06/08/2020 20:09:02
SK,Sikkim,829,353,1,475,06/08/2020 23:01:46
MZ,Mizoram,538,288,0,249,06/08/2020 17:29:49
AN,Andaman and Nicobar Islands,1123,355,16,752,06/08/2020 20:45:08
UN,State Unassigned,0,0,0,0,19/07/2020 09:40:01
LD,Lakshadweep,0,0,0,0,26/03/2020 07:19:29
TT,Total,2025409,1377384,41638,605933,06/08/2020 23:46:37

In [62]:
# # .check for no duplicates
df.duplicated().sum()

np.int64(0)

In [64]:
# 7.re-load into excel
# firstly import openpyxl module in environment of anaconda navigator
import openpyxl
# to excel
df.to_excel("state_level_cleaned.xlsx", index=True)

# to csv
df.to_csv("state_level_cleaned.csv",index = True)